/* --------------------------Clients-------------------------------- */
.logo-list {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
}

.logo-link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $icons-color;
    border-radius: 4px;
    color: $icons-color;
    fill: currentColor;
    transition: border-color $transform-duration $time-function,
        color $transform-duration $time-function;
}

.logo-link:hover,
.logo-link:focus {
    border-color: $accent-color;
    color: $accent-color;
}