.logo {
    font-family: $logo-font;
    @include font-box(700, 26px, 1.19);
  text-decoration: none;
  &-color-1 {
    color: $accent-color;
  }
  &-color-2 {
    color: $black-text-color;
  }
  &-color-3 {
    color: $tertiary-text-color;
  }
}