%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
%container {
    width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid #188ce8; */
}
%vis-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  %button {
    font-weight: $bold-fnt-wght;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $tertiary-text-color;
  background-color: $accent-color;

  border-color: transparent;
  border-radius: 4px;
  display: inline-block;
  transition: background-color $transform-duration $time-function,
    box-shadow $transform-duration $time-function;
    &:hover,
    &:focus {
        background-color: $secondary-accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
